.main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .wrap {
    background-color: orange;
    width: 100vw;
    height: 250vw;
    max-height: 100vh;
    max-width: 250vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }