
@font-face {
  font-family: monthly;
  src: url(font/monthly.woff2) format('woff2');
}

.right{
  text-align: right !important;
}

.bottomline {
  font-family: monthly;
  font-size: 100px;
  color: white;
  text-align: left;
}

.monthFont {
  font-family: monthly;
  color: #FDE8C1;
  text-align: left;
  
}

.shadow{
  text-shadow: 2px 2px #000000;
}

.blackshadow{
  text-shadow: 4px 4px black;
}

.rotate {
  transform: rotate(358deg);
}

.verse {
  width:70% !important;
  margin-left: 166px !important;
  font-size: 25px;
  margin-top: 30px !important;
}

#clock {
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  color:#FACD68;
  text-shadow: 2px 2px #206666;
}